<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
</head>
<body>
    <h1>Salom dunyo</h1>
    <h3>My name is {{ first_name|safe }}</h3>
    <p>{{ stuf }}</p>
    <p>{{ stuf|safe }}</p>
    <p>{{ stuf|striptags }}</p>
    {% for i in favorite_pizza %}
        {% if i.isdigit() %}
            {{ i|int+100 }}
        {% else %}
            {{ i }}
        {% endif %}
    {% endfor %}
    {{ favorite_pizza.0|reverse }}
</body>
</html>